.cart-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(49, 244, 6);
}
.cart-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}
.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.cart-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: calc(25% - 20px); /* Ensure four items per row */
}
.cart-item img {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.cart-item-title {
  font-weight: bold;
  color: #333;
  text-align: center;
  min-height: 3em; /* Fixed height for title */
}
.cart-item-price {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 5px;
  min-height: 2em; /* Fixed height for price */
}

.cart-summary {
  display: flex;
  justify-content: space-between;
}

#cart-total {
  font-size: 1.3rem;
}

.cart-checkout-button {
  padding: 0px 20px;
  height: 40px;
  background-color: rgb(49, 197, 216);
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
}

@media (max-width: 1024px) {
  .cart-item {
    width: calc(33.33% - 20px); /* Three items per row on medium screens */
  }
}
@media (max-width: 768px) {
  .cart-item {
    width: calc(50% - 20px); /* Two items per row on small screens */
  }
}
@media (max-width: 480px) {
  .cart-item {
    width: 100%; /* One item per row on very small screens */
  }
}
